*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --clr-primary: #F70058;
  --clr-dark: #0C0E36;
  --clr-light: #fff;
  --fw-normal: 400;
  --fw-bold: 700;
  --fw-black: 900;

}

body {
  font-family: 'Work Sans', sans-serif;
  font-size: 1.125rem;
  color: var(--clr-dark);
  line-height: 1.6;
}

header {
  border: 2px solid red;
  text-align: center;
}

.logo {
  margin-top: 1em;
}

.nav__list {
  display: flex;
  justify-content: space-between;
  border: 2px solid red;
  margin: 0;
  padding: 1em;
  list-style: none;
  font-size: 0.875rem;
  text-transform: uppercase;
  font-weight: var(--fw-bold);
}

.nav__link {
  text-decoration: none;
  letter-spacing: 1px;
  color: inherit;
}

.weather {
  display: grid;
  grid-template-columns: min-content 1fr;
  background: var(--clr-dark);
  color: var(--clr-light);
}

.weather__icon {
  grid-row: span 2;
  background: var(--clr-primary);
  padding: 3rem;
  display: flex;
}

.weather__info {
  margin: 0;
  margin-left: 0.35rem;
  text-align: left;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.7);
  letter-spacing: 1px;
  font-size: .7rem;
  font-weight: var(--fw-bold);
  display: flex;
  align-items: center;
}

.weather__info span {
  color: #FFFFFF;
  margin-left: auto;
  font-size: 0.875rem;
  margin-right: 0.75rem;
}

.weather__info:first-of-type {
  margin-top: .5em;
  position: relative;
}

.weather__info:first-of-type::after {
  content: "";
  position: absolute;
  height: 2px;
  background: var(--clr-light);
  opacity: 0.25;
  width: calc(100% - 0.75rem);
  bottom: 0;
}

.weather__info:last-of-type {
  margin-top: .5em;
}