*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --clr-primary: #F70058;
  --clr-dark: #0C0E36;
  --clr-light: #fff;
  --fw-normal: 400;
  --fw-bold: 700;
  --fw-black: 900;

}

body {
  font-family: 'Work Sans', sans-serif;
  font-size: 1.125rem;
  color: var(--clr-dark);
  line-height: 1.6;
}

header {
  border: 2px solid red;
}

.nav__list {
  border: 2px solid red;
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  font-size: 0.875rem;
  text-transform: uppercase;
  font-weight: var(--fw-bold);
}

main {
  border: 2px solid green;
}